[Desktop Entry]
Type=Application
Name=Settings
Categories=Applications
Exec=/usr/bin/invoker --single-instance -r 5 --type=qt-components-qt5 /usr/bin/qmlsettings
Icon=icon-l-settings

